/* styles.css */

/* Default background color */
body {
    background-color: #e0e0ff;
}

/* styling the header */
header {
    text-align: center;
}
h1, h4 {
    margin-bottom: 20px;
}

/* Styling the year links */
.year-links {
    display: flex;
    flex-wrap: wrap; /* Allow the items to wrap to the next line */
    gap: 10px; /* Space between items */
    justify-content: center; /* Center the links */
    padding: 20px;
}

/* Styling each year link */
.year {
    text-decoration: underline;
    color: #007BFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.year:hover {
    color: #0056b3;
}

/* Styling the container for year information */
#year-info {
    margin-top: 20px;
    padding: 20px;
    background-color: #e0e0ff;
    border: 1px solid #ddd;
}
