/* styles.css */

/* Default background color */
body {
    background-color: #e0e0ff;
}

/* styling the header */
header {
    text-align: center;
}
h1, h4 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;  /* Remove default list bullets */
    padding: 0;  /* Remove padding */
    margin: 0;  /* Remove margin */
}

ul li {
    display: inline-block;  /* Make the <li> elements appear inline */
    margin-right: 5px;  /* Optional: Add space between items */
}

/* Styling the year links */
.year-links {
    display: flex;
    flex-wrap: wrap; /* Allow the items to wrap to the next line */
    gap: 5px; /* Space between items */
    justify-content: left; /* move left the links */
    padding: 10px;
}

/* Styling each year link */
.year {
    text-decoration: underline;
    color: #007BFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.year:hover {
    color: #0056b3;
}

/* Styling the container for year information */
#year-info {
    margin-top: 20px;
    padding: 20px;
    background-color: #e0e0ff;
    border: 1px solid #ddd;
}

graphs-main {
    display: flex;
    flex-wrap: wrap; /* Allow the items to wrap to the next line */
    gap: 5px; /* Space between items */
    justify-content: left; /* move left the links */
    padding: 10px;
}