/* Default background color */
body {
    background-color: #e0e0ff;
}

/* Styling the header */
header {
    text-align: center;
}

h1, h4 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;  /* Remove default list bullets */
    padding: 0;  /* Remove padding */
    margin: 0;  /* Remove margin */
}

ul li {
    display: inline-block;  /* Make the <li> elements appear inline */
    margin-right: 5px;  /* Optional: Add space between items */
}

/* Styling the year links */
.year-links {
    display: flex;
    flex-wrap: wrap; /* Allow the items to wrap to the next line */
    gap: 5px; /* Space between items */
    justify-content: left; /* Move left the links */
    padding: 10px;
}

/* Styling each year link */
.year {
    text-decoration: underline;
    color: #007BFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.year:hover {
    color: #0056b3;
}

/* Styling the container for year information */
#year-info {
    margin-top: 20px;
    padding: 20px;
    background-color: #e0e0ff;
    /*border: 1px solid #ddd; */
    max-width: 900px; 
    margin: 0 auto;
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

/* Center the content inside #year-info */
#year-info h2, #year-info h3, #year-info h4 {
    text-align: center;
}

/* Style for images */
#rainfall-graphs img {
    display: block;
    margin: 20px  auto;
    max-width: 100%; /* Optional: limit image size */
    height: auto;
}

/* Styling the months and previous years section */
#rainfall-graphs {
    display: flex;
    flex-direction: column;  /* Stack items vertically */
    align-items: center;     /* Center all items horizontally */
}

/* Optional: Style the headings of the sections */
h3, h4, h5, h6 {
    color: #333;
}

/* Optional: Style the download links */
p a {
    text-decoration: underline;
    color: #007bff;
    font-weight: bold;
}

/* Hover effect on download links */
p a:hover {
    color: #0056b3;
}

/* Style for the year info section */
div {
    margin-bottom: 20px;
}

/* Adjusting spacing inside the #year-info container */
#year-info {
    padding: 30px;
}

